body {
    background-color: #81d5aa;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(images/header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 90px;
}

header h1 {
    display: flex;
    align-items: center;
    font-size: 30px;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-shadow: 2px 2px 5px #1E1E2E;
}

nav {
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid white;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav a {
    text-decoration: none;
    color: #ef5167;
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.2s ease;
}

nav a:hover {
    color: #c64456;
    transform: scale(1.1);
}

p {
    margin-right: 50px;
    margin-left: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    text-align: center;
    color: white;
}

.p1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    color: #c64456;
    margin-left: 100px;
}

.p2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #c64456;
    margin-left: 100px;
}

.p3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
}

.p4 {
    margin-right: 50px;
    margin-left: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
}

.dark-mode{
    background-color: black;
    color: #ffffff; transition: 0.5s;
}

button-mode {
    background-color: #c64456;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 25px;
    margin: 10px auto;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button-mode:hover {
    background-color: #ac3c3c;
    color: white;
}

.text-box-1 {
  display: flex;
  flex-direction: column; 
}

.display-section {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 100px;
    padding-bottom: 30px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.display-section img {
    width: 20%;
    border-radius: 15px;
    transition: transform 1s ease;
}

.bestseller {
    margin-top: 40px;
}

.bestseller-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.bestseller-item {
    background: #f68d28;
    width: 200px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.bestseller-item:hover {
    transform: scale(1.05);
}

.bestseller-item img {
    width: 100%;
}

.about-section {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    margin-left: 100px;
    padding: 30px 100px;
}

.about {
    margin-top: 40px;
}

.text-box-2 {
    background-color: #f68d28;
    color: #333;
    padding: 30px 40px;
    border-radius: 15px;
    border: 2px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    max-width: 800px;
}

.about-item {
    width: 200px;
    padding: 10px;
    margin-right: 80px;
}

.about-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    margin-right: 80px;
}

.about-item img {
    width: 200px;
    margin-right: 100px;
}

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    text-align: center;
    color: white;
}

.menu-table {
  width: 90%;
  margin: 50px auto;
  border-collapse: collapse;
  text-align: center;
}

.menu-table th, .menu-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ac3c3c
}

.menu-table th {
  font-weight: bold;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}

table td:nth-child(2) {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 10px;
}

.menu-item img {
  width: 120px;        
  height: auto;
  margin-bottom: 10px; 
  border-radius: 10px;
}

.menu-item p {
  margin: 0;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  color: white;
}

tr:hover {
    background-color: #f68c28b6;
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

.pagination {
  text-align: center;
  margin-top: 30px;
}

.pagination a {
  background-color: #f1767d;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  margin: 0 5px;
  transition: background 0.3s;
}

.pagination a:hover {
  background-color: #f1767d;
}

form {
    color: #f1767d;
    background: #ef5167;
    padding: 25px;
    width: 90%;
    max-width: none;
    margin: 40px auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    }

.form-box {
    color: (41, 1, 41);
    background: #f1767d;
    padding: 15px 30px;
    margin-bottom: 18px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    text-align: left;
    transition: all 0.3s ease;
    }

label {
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 15px;
    color: white;
    }

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border: 1.5px solid #f1767d;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    transition: all 0.3s ease;
    }

input:focus, textarea:focus {
    border-color: #e88aa3;
    box-shadow: 0 0 5px #e88aa3;
    }

button {
    background-color: #f1767d;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 15px;
    margin-top: 15px;
    transition: all 0.3s ease;
    }

button:hover {
    transform: translateY(-2px);
    }

.regis-section img {
    width: 20%;
    border-radius: 15px;
    transition: transform 1s ease;
}

.regis {
    margin-top: 40px;
}

.regis-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.regis-item {
    background: #ef5167;
    width: 200px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.regis-item:hover {
    transform: scale(1.05);
}

.regis-item img {
    width: 100%;
}

.lokasi {
    margin-bottom: 40px;
    border: 2px solid white;
    padding: 20px;
    border-radius: 15px;
    background-color: #ef5167;
    margin: 50px;
}

.lokasi h2 {
    color: white;
    border-bottom: 2px dashed white;
    padding-bottom: 5px;
    margin-bottom: 20px;
    text-align: left;
}

.lokasi-img {
  width: 80%;
  max-width: 600px;
  height: auto;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
}

.card {
    background: #830d2b;
    padding: 15px;
    margin: 15px 15px;
    border-radius: 12px;
    border: 1px solid white;
    outline: 2px solid transparent;
    transition: all 0.3s ease;
}

.card:hover {
    background: #fa879c;
    outline: 2px solid white;
    transform: scale(1.02);
}

.card h3 {
    margin-top: 0;
    color: #e43f5a;
    text-align: left;
    font-size: 25px;
}

.maps-link {
    display: inline-block;
    margin-top: 8px;
    text-decoration: none;
    color: #ff4f70;
    font-weight: bold;
    transition: 0.3s;
}

.maps-link:hover {
    color: #c7344e;
    text-decoration: underline;
}

footer {
    background-color:  #ef5167;
    color: #5a4a2e;
    text-align: center;
    padding: 10px 3px;
    font-size: 18px;
    margin-top: 25px;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.footer-social p {
  margin: 0;
  font-weight: bold;
  color: #5a4a2e;
  font-size: 18px;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons a {
  display: inline-block;
  text-decoration: none;
  color: #ef5167;
  background-color: beige;
  font-size: 18px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  line-height: 35px;
  text-align: center;
  transition: all 0.3s ease;
}

.social-icons a:hover {
  background-color: white;
  color: #5a4a2e;
  transform: scale(1.1);
}